@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
   
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background-color: black;
}

.header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 0 20px;
    background: blueviolet;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed ;
    z-index: 100;
}
svg {
    width: 5.5rem;
    margin-top: -10px;
    
}
.logo{
    transition: transform 0.2s ease-in-out;
}
.logo:hover {
    animation: pulse 1s infinite; /* Apply the pulse animation on hover */
}
.navbar a {
    position: relative;
    font-size: 18px;
    color:white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.5s;
}
.navbar a:hover::before{
    width: 100%;
} 

.card {
    height:20px;
    margin-left: 1100px;
    margin-top: 12%;
    max-width: 300px; /* Adjust the width as needed */
    
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    background: black;
}


.header-text{
    margin:auto auto;
    width:50%;
    font-size: 30px;
    color:white;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    color:white;
}
.header-text h1 span{
    color:blueviolet
}

.triangle {
    margin-top: 70px;
    margin-left: 30%;
    width: 40px;
    height: 40px;
    background: white;
    clip-path: polygon(0% 0%, 50% 50%, 100% 0%);
    transition: all 0.5s ease;
}
.triangle:hover {
    transform: translateY(20%);
    background: blueviolet;
}

.triangle-up:hover {
    transform: translateY(-20%);
    background: blueviolet;
}
.container {
    width: 100vw; /* 100% of the viewport width */
    height: auto; /* Automatically adjust the height to fit content */
    border: 1px solid #000; /* Adding a border for visual separation */
    margin: 10px; /* Add margin for spacing */
}
.text-yes{
    color:white;
}
